* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Cocogoose";
  src: url("./fonts/Cocogoose.ttf");
}

@font-face {
  font-family: "Cocogoose-light";
  src: url("./fonts/Cocogoose-Light.ttf");
}

body {
  height: 100vh;
  font-family: "Cocogoose-Light";
}

.container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "header header"
    "sidebar main";
  gap: 5px;
}

/* HEADER */
.header {
  grid-area: header;
  background-color: #ffdb29;
  padding: 10px 50px;
  border-radius: 0 0 10px 10px;
}

h1 {
  font-family: "Cocogoose";
  font-weight: normal;
  font-size: 60px;
  color: black;
}

/* SIDEBAR */
.sidebar {
  grid-area: sidebar;
  background-color: #fcec9c; /* #ececec; */
  height: 100vh;
  padding-top: 100px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  padding-top: 100px;
  gap: 10px; /* space between items */
}

.plus {
  height: 1rem;
  width: 1rem;
}

/* MAIN */
.main {
  grid-area: main;
  background-color: #fcf5d1;
  border-radius: 10px;
}

/* Pseudo-classes */
.clickable:hover {
  cursor: pointer;
  -webkit-transform: scale(1.07);
  font-weight: bolder;
}
