* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Cocogoose";
  src: url("./fonts/Cocogoose.ttf");
}

@font-face {
  font-family: "Cocogoose-light";
  src: url("./fonts/Cocogoose-Light.ttf");
}

body {
  height: 100vh;
  font-family: "Cocogoose-Light";
}

.container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "header header"
    "sidebar main";
}

/* HEADER */
.header {
  grid-area: header;
  background-color: #ffdb29;
  border-bottom: 10px solid white;
  padding: 10px 50px;
}

h1 {
  font-family: "Cocogoose";
  font-weight: normal;
  font-size: 60px;
  color: black;
}

/* SIDEBAR */
.sidebar {
  grid-area: sidebar;
  background-color: #fcec9c; /* #ececec; */
  border-right: 10px solid white;
  height: 100vh;
  padding-top: 100px;

  display: grid;
  grid-template-rows: 100px 100px 100px;
  justify-items: center;
}

/* MAIN */
.main {
  grid-area: main;
  background-color: #fcf5d1;
}

/* Pseudo-classes */
.clickable:hover {
  cursor: pointer;
  -webkit-transform: scale(1.07);
  font-weight: bolder;
}
